.offerPage {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  padding: 40px 32px;
  color: #fafafa;

  @media screen and (max-width: 767px) {
    max-width: 600px;
    padding: 0 1rem;
  }
}
