.categories {
  position: relative;
  max-width: 1350px;
  margin: 70px auto;
  padding: 0 20px;

  .item {
    color: #fafafa;
    border-bottom: 1.5px solid transparent;
  }

  .active {
    color: #fe6700;
    border-bottom: 1.5px solid #fe6700;
  }

  .sectionTitle {
    color: #fafafa;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
  }

  @media screen and (max-width: 767px) {
    max-width: 600px;
    padding: 0 10px;
  }

  .scrollbar {
    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #fe6700;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #1f1f1f;
    }
  }
}

.categoryIcon {
  width: 50px;
  height: 50px;
}
