.sidebar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 15px;

  @media screen and (max-width: 1024px) {
    padding-left: 10px;
  }
}

.chatItem {
  position: relative;
  color: #fafafa;
  border-bottom: 0.1px solid #6b6b6b89;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  @media screen and (max-width: 1024px) {
    margin: auto;
    padding: 0;
    border: 0;
  }
}

.avatar {
  object-fit: cover;
  border-radius: 10px;
}
